<h2>Torrents</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Progress</th>
    <th>Controls</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let torrent of torrents">
    <td>{{torrent.Name}}</td>
    <td>
      {{ torrent.BytesDown / torrent.BytesTotal * 100 | number: '1.2-2'}}%
      ({{torrent.BytesDown | fileSizeFormatter}} / {{torrent.BytesTotal | fileSizeFormatter}})
    </td>
    <td>
      <button class="btn btn-primary" (click)="startTorrent(torrent)">
        <i class="fa fa-play"></i>
      </button>
      <button class="btn btn-primary" (click)="pauseTorrent(torrent)">
        <i class="fa fa-pause"></i>
      </button>
      <button class="btn btn-danger" (click)="deleteTorrent(torrent)">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<input placeholder="magnet:..." [(ngModel)]="torrentURI">
<button class="btn btn-primary" (click)="addTorrent()">Add</button>
