<h2>Torrents</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Controls</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of torrents | keyvalue">
    <td>{{item.value.Name}}</td>
    <td>
      <button class="btn btn-primary" (click)="startTorrent(item.value)">
        <i class="fa fa-play"></i>
      </button>
      <button class="btn btn-primary" (click)="pauseTorrent(item.value)">
        <i class="fa fa-pause"></i>
      </button>
      <button class="btn btn-danger" (click)="deleteTorrent(item.value)">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<input placeholder="magnet:..." [(ngModel)]="torrentURI">
<button class="btn btn-primary" (click)="addTorrent()">Add</button>
