<mat-toolbar>
  <span>Torrents</span>
  <span class="torrent-toolbar-spacer"></span>
  <button
    mat-mini-fab
    color="accent"
    aria-label="Add torrent"
    (click)="addTorrentDialog()"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-toolbar>

<table
  mat-table
  [dataSource]="torrents"
  matSort
  (matSortChange)="announceSortChange($event)"
  matSortActive="Name"
  matSortDirection="asc"
  matSortDisableClear
>
  <ng-container matColumnDef="Name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header="Name"
      sortActionDescription="Sort by name"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let torrent">
      <a routerLink="/torrentdetails/{{ torrent.ID }}">
        {{ torrent.Name }}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header="Status"
      sortActionDescription="Sort by status"
    >
      Status
    </th>
    <td mat-cell *matCellDef="let torrent">
      {{ torrent.Status }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Progress">
    <th mat-header-cell *matHeaderCellDef>Progress</th>
    <td mat-cell *matCellDef="let torrent">
      <app-progress-component
        [prg]="torrent.TotalProgress"
      ></app-progress-component>
    </td>
  </ng-container>

  <ng-container matColumnDef="Controls">
    <th mat-header-cell *matHeaderCellDef>Controls</th>
    <td mat-cell *matCellDef="let torrent">
      <div class="torrent-controls-container">
        <span class="torrent-controls-spacer"></span>
        <button
          *ngIf="torrent.Status === 'Stopped'"
          mat-mini-fab
          color="primary"
          aria-label="Start torrent"
          (click)="startTorrent(torrent.ID)"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button
          *ngIf="torrent.Status !== 'Stopped'"
          mat-mini-fab
          color="primary"
          aria-label="Pause torrent"
          (click)="pauseTorrent(torrent.ID)"
        >
          <mat-icon>pause</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          aria-label="Delete torrent"
          (click)="confirmDeleteDialog(torrent.ID)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
