<mat-toolbar>
  <span>Torrent Details</span>
  <!-- <span class="torrent-toolbar-spacer"></span> -->
  <!-- <button mat-mini-fab color="accent" aria-label="Add torrent" (click)="openDialog()"> -->
  <!--   <mat-icon>add_circle</mat-icon> -->
  <!-- </button> -->
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a [href]="sanitize(torrent.Magnet)">
        <mat-icon>link</mat-icon>
      </a>
      {{ torrent.Name }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table
      mat-table
      [dataSource]="torrentFiles"
      matSort
      (matSortChange)="announceSortChange($event)"
      matSortActive="Path"
      matSortDirection="asc"
      matSortDisableClear
    >
      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let file; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Path">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="Path"
          sortActionDescription="Sort by path"
        >
          Path
        </th>
        <td mat-cell *matCellDef="let file">
          {{ file.Path }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
