<h1>TorrentServer</h1>

<form name="addTorrent" method=POST action="/addtorrent">
  <label for="torrenturi">Download Torrent from URI:</label>
  <input name="torrenturi" id="torrenturi" type="text"><br><br>
</form>

<hr>

{{ range $i, $torrent := .Torrents }}
<div class="torrent">
  <label for="torrent{{- $i -}}-name">Name:</label>
  <span id="torrent{{- $i -}}-name">{{ $torrent.Name }}</span>
  <form action="/pausetorrent" method="POST">
    <button type="submit" name="torrenthash" value="{{- $torrent.InfoHash -}}">Pause</button>
  </form>
  <form action="/resumetorrent" method="POST">
    <button type="submit" name="torrenthash" value="{{- $torrent.InfoHash -}}">Resume</button>
  </form>
  <form action="/stoptorrent" method="POST">
    <button type="submit" name="torrenthash" value="{{- $torrent.InfoHash -}}">Stop</button>
  </form>
</div>
{{ end }}
